<div class="w-100" style="background-color: #9ccc2c">
  <div class="container">
    <div class="row">
      <div class="col" style="padding-top: 20px;">
        <span>&copy; Copyright. All Rights Reserved.</span>
      </div>
    <div class="col">
      <div class="d-flex flex-row-reverse">
        <div class="p-2">

          <!-- FACEBOOK LINK -->
          <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/joshuajhonemmanuel/" role="button"><i
          class="fab fa-facebook-f"></i></a></div>

          <!-- LINKEDIN LINK -->
        <div class="p-2"><a class="btn btn-outline-dark btn-floating m-1" href="https://www.linkedin.com/in/sosajjedavid/" role="button"><i
          class="fab fa-linkedin-in"></i></a></div>

          <!-- GITHUB LINK -->
        <div class="p-2"><a class="btn btn-outline-dark btn-floating m-1" href="https://github.com/sosajjedavid" role="button"><i 
          class="fab fa-github"></i></a></div>
          
      </div>
    </div>
  </div>
</div>

