<!-- ASSIGNMENT 2 - EXPRESS AUTHENTICATION, JOSHUA JHON EMMANUEL D. SOSA, 301323441, MARCH 2023 -->
<%- include('partials/header', {title:'About Us'}); -%>
<%- include('partials/top_nav') %>

<div class="container">
    <div class="row justify-content-center m-5">
        <div class="col-4 bg-warning mb-3 p-5 d-flex justify-content-center flex-wrap">
            <div><img src="/Assets/images/img.jpg" alt="..." width="290" height="360" style="border-radius: 50%;"></div>
                <div class="card-title p-5 text-center"><span class="fw-normal fs-3 fw-bolder">SOSA, JOSHUA JHON EMMANUEL</span></div>
        </div>
            <div class="col-6 bg-light mb-3 p-5" style="padding-top: 20px;">
              <div><span class="fw-normal fs-5">Meet our software engineering technician student! This aspiring individual is pursuing a career in software engineering and is passionate about all things technology. With a keen interest in developing innovative solutions and building cutting-edge software, he is dedicated to mastering the necessary skills and knowledge to excel in the field. His academic background and hands-on experience have equipped them with the skills to analyze, design, and implement software systems, making them a valuable asset to any software engineering team. With a thirst for knowledge and a drive for success, this student is well on his way to a fulfilling career in software engineering.</span></div>
  
              <!-- RESUME -->
              <div class="p-5 text-center"><h5><a href="./Assets/pdf/resume.pdf" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View Résumé</a></h5></div>
  
        </div>
      <div>
    </div>
  </div>
</div>

<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>