<!-- ASSIGNMENT 2 - EXPRESS AUTHENTICATION, JOSHUA JHON EMMANUEL D. SOSA, 301323441, MARCH 2023 -->
<%- include('partials/header', {title:'Contact Us'}); -%>
<%- include('partials/top_nav') %>
 
<div class="py-4 text-center">
    <h2>Form</h2>
    <p class="lead">Send me a message. Tell me about your project, and let's create something together.</p>
  </div>
  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form>
  
          <!-- FIRST NAME -->
          <div class="form-group p-2">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" class="form-control" placeholder="Your first name.." required>
          </div>
  
          <!-- LAST NAME -->
          <div class="form-group p-2">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" class="form-control" placeholder="Your last name.." required>
          </div>
  
          <!-- EMAIL ADDRESS -->
          <div class="form-group p-2">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Your email address.." required>
          </div>
  
          <!-- PHONE NUMBER -->
          <div class="form-group p-2">
            <label for="phone">Phone Number</label>
            <input type="tel" id="phone" name="phone" class="form-control" placeholder="Your phone number.." required>
          </div>
  
          <!-- MESSAGE -->
          <div class="form-group p-2">
            <label for="message">Message</label>
            <textarea id="message" name="message" class="form-control" placeholder="Write something.." rows="5" required></textarea>
          </div>
  
          <!-- SUBMIT BUTTON -->
          <a href="/" class="btn btn-primary">Submit</a>
  
      </form>
    </div>
  </div>
</div>

<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>