<!-- ASSIGNMENT 2 - EXPRESS AUTHENTICATION, JOSHUA JHON EMMANUEL D. SOSA, 301323441, MARCH 2023 -->
<%- include ('partials/header') %>
<%- include('partials/top_nav') %>

<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="./Assets/images/front.jpeg" alt="" width="210" height="200" style="border-radius: 50%;">
  <h1 class="display-5 fw-bold">Welcome to my website dedicated to showcasing my portfolio!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">I am excited to have you here and look forward to introducing you to my work in software engineering.
      From web development to mobile app design, database management, to machine learning, I am at the forefront of innovation and creativity in this rapidly-evolving industry.
      By promoting my work, I can help drive the growth and development of the software engineering industry. I hope you find my site informative, engaging, and valuable and will join us in celebrating the incredible contributions of software engineering technicians worldwide.
      Thank you for visiting my site, and I look forward to connecting with you!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <!-- ABOUT ME BUTTON -->
      <a href="/about" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">About Me</a>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>