<!-- ASSIGNMENT 2 - EXPRESS AUTHENTICATION, JOSHUA JHON EMMANUEL D. SOSA, 301323441, MARCH 2023 -->
<%- include('partials/header', {title:'Projects'}); -%>
<%- include('partials/top_nav') %>

<div class="d-flex justify-content-evenly flex-wrap">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card m-3 p-3">

        <!-- FIRST PROJECT -->
        <img class="card-img-top" src="./Assets/images/proj1.jpg" width="245" height="245" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Development of a Social Media Platform</h5>
      <p class="card-text">This project involved building a web-based social media platform that allowed users to connect with friends and share photos and messages. A software engineer may have played a role in developing the platform's user interface, implementing back-end functionality such as database management, and integrating the platform with third-party services such as Facebook and Twitter.</p>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card m-3 p-3">

        <!-- SECOND PROJECT -->
        <img class="card-img-top" src="./Assets/images/proj2.jpg" width="245" height="245" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Building a Chat Application</h5>
      <p class="card-text">This project involved building a chat application that allowed users to communicate with each other in real-time. A software engineer may have played a role in developing the application's messaging functionality, implementing security features such as end-to-end encryption, and optimizing the application's performance for low-latency communication.</p>
      </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card m-3 p-3">

        <!-- THIRD PROJECT -->
        <img class="card-img-top" src="./Assets/images/proj3.jpg" width="245" height="245" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Developing a Mobile Game</h5>
      <p class="card-text">This project involved building a mobile game that entertained and engaged users. A software engineer may have played a role in developing the game's mechanics and user interface, implementing features such as in-app purchases and social sharing, and optimizing the game's performance for mobile devices.</p>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card m-3 p-3">

        <!-- FOURTH PROJECT -->
        <img class="card-img-top" src="./Assets/images/proj4.jpg" width="245" height="245" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Building an Enterprise Resource Planning (ERP) System</h5>
      <p class="card-text">This project involved building a software system that helped businesses manage their resources and operations more efficiently. A software engineer may have played a role in developing the system's user interface, implementing functionality such as inventory management and order tracking, and integrating the system with third-party services such as accounting software and supply chain management tools.</p>
      </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>