<!-- ASSIGNMENT 2 - EXPRESS AUTHENTICATION, JOSHUA JHON EMMANUEL D. SOSA, 301323441, MARCH 2023 -->
<%- include('partials/header', {title:'Services'}); -%>
<%- include('partials/top_nav') %>
 
<div class="d-flex justify-content-evenly flex-wrap">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card m-3 p-3">

        <!-- FIRST SERVICE -->
        <img class="card-img-top" src="./Assets/images/softdev.jpg" width="245" height="245" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Software Development</h5>
      <p class="card-text">As a software engineering technician, I can help you design, develop and implement software applications tailored to your business needs. I can solve your software development requirements, from building small scripts to full-scale software.</p>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card m-3 p-3">

        <!-- SECOND SERVICE -->
        <img class="card-img-top" src="./Assets/images/softtest.jpg" width="245" height="245" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Software Testing</h5>
      <p class="card-text">With my experience in software engineering, I can help you test your software applications to ensure they are functional, user-friendly, and meet all requirements. This includes both manual and automated testing to provide a high level of quality.</p>
      </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card m-3 p-3">

        <!-- THIRD SERVICE -->
        <img class="card-img-top" src="./Assets/images/softmain.jpg" width="245" height="245" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Software Maintenance</h5>
      <p class="card-text">Software requires maintenance, upgrades and improvements over time. As a software engineering technician, I can maintain and support your software applications. This includes troubleshooting, bug fixing, and ensuring that your software remains up-to-date with the latest technology trends.</p>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card m-3 p-3">

        <!-- FOURTH SERVICE -->
        <img class="card-img-top" src="./Assets/images/dbman.jpg" width="245" height="245" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Database Management</h5>
      <p class="card-text">Managing large volumes of data can be a challenging task. As a software engineering technician, I can help you design, implement and maintain databases to organize and store your data efficiently. This includes developing new databases and optimizing existing ones for better performance.</p>
      </div>
      </div>
    </div>
  </div>
</div>


<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>